%title= 'Editing ' + field.capitalize
- if @note
  %form#edit{:action => "/#{@note.id}/#{field}", :method => "post"}
    %input{:name => "_method", :type => "hidden", :value => "put"}
      - if field == 'content'
        %textarea{:name => "#{field}", :cols => "60", :rows => "6", :autofocus => true}= @note.content
      - else
        %textarea{:name => "#{field}", :cols => "40", :rows => "4", :autofocus => true}= @note.comment
    %br
    %input{:type => "submit", :value => "Update"}
  %form{:action => "/", :method => "get"}
    %input{:type => "submit", :value => "Cancel"}
- else
  %p Note not found!
