<html>
  <title> CRC Tasklist </title>
  <head></head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" type="text/javascript">
    <meta charset="utf8">
      <title>
        <html>
  <head></head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" type="text/javascript"></script>
    <meta charset="utf8">
      <link href="/reset.css" rel="stylesheet"></link>
      <link href="style.css" rel="stylesheet"></link>
    </meta>
  </link>
  <body>
    <header>
      <%= @title + ' Recall ' %>
      <hgroup>
        <h1>
          <a href="/">crc</a>
        </h1>
        <h2>
          <%= "Task List For " + $curday.to_s %>
        </h2>
        <h3>
          <a href="/prevday">&#8668</a>
          <a href="/present">&#9784</a>
          <a href="/nextday">&#8669</a>
        </h3>
      </hgroup>
    </header>
  </body>
</html>
<% if Date.today <= $curday %>
  <section id="new_note">
    <form action="/longterm" method="post">
      <textarea id="note_entry" name="content" placeholder="Your note..."></textarea>
      <input name="repeater" type="hidden" value="0"></input>
      <input id="note_input" type="submit" value="Add Long Term Task!"></input>
    </form>
  </section>
  <br/>
<% end %>
<% @notes.sort_by {|v| [v[:status], v[:id]]}.reverse_each do |note| %>
  <% if note[:longterm] == true and !note[:complete] %>
    <article class="<%= note[:status] %>">
      <% if !note[:complete] %>
        <a class="content" href="/<%= note[:id] %>">
          <%= note[:content] %>
        </a>
        <% if note[:task_date] && note[:repeater] == false %>
          <%= note[:task_date] if (($curday - note[:task_date]).to_i > 3) %>
        <% end %>
      <% else %>
        <%= note[:content] %>
      <% end %>
      <%= note[:created_at] if (note[:status] == :overdue || note[:active] == true || note[:created_at] != note[:completed_at]) && $curday != note[:created_at] %>
      <%= "  (R)" if (note[:repeater] == true && note[:status] == :done) %>
      <p class="comment">
        <% if note[:duration] != nil && note[:duration] > 0 && note[:active] == false %>
          Duration:
          <%= note[:duration].round %>
          min
        <% end %>
        <% if !note[:comment].nil? && (note[:complete] == true || note[:status] == :slack) %>
          <br>
            <%= note[:comment] %>
          </br>
        <% end %>
      </p>
      <p class="icons meta">
        <% unless note[:status] == :slack || note[:complete] == true %>
          <a class="meta" href="/<%= note[:id] %>/activate">*</a>
          <a class="meta" href="/<%= note[:id] %>/slack">&#8621</a>
        <% end %>
        <a class="meta" href="/<%= note[:id] %>/complete">&#9635</a>
        <% if note[:complete] == true || note[:status] == :slack %>
          <a class="meta" href="/<%= note[:id] %>/comment">...</a>
        <% end %>
        <% unless note[:status] == :slack %>
          <a class="right meta" href="/<%= note[:id] %>/delete">&#9762</a>
        <% end %>
      </p>
    </article>
  <% end %>
<% end %>
<br>
<a href="/longterm">Long Term Tasks</a>
<br/>
<br/>
